@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.achievement-modal {
  z-index: 20;
  position: fixed;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  max-width: min-content;
  padding: 1rem;
  background-color: $c-body-bg;
  border-radius: $small-border-radius;
  box-shadow: $bxs-result-shadow;
  animation: appear 7s;
}

.achievement-title {
  color: $c-accent;
}

.achievement-text-wrapper {
  @include font-main-small;
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  min-width: 15rem;
  row-gap: 1rem;
}

.achievement-img {
  width: 8rem;
  height: 8rem;
}

.achievement-text {
  color: $c-main-text;
}
