@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.achievement-modal {
  z-index: 20;
  width: 270px;
  height: 130px;
  position: fixed;
  left: 20px;
  box-shadow: 0 0 15px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  animation: appear 7s;
}

.achievement-title {
  color: orange;
  font-size: 18px;
  font-style: oblique;
}

.achievement-content-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.achievement-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.achievement-img {
  width: 45px;
  height: 45px;
}

.achievement-text {
  font-size: 18px;
  color: darkmagenta;
}
