.hero-menu-header {
  max-width: 102rem;
  margin: 0 auto;
  padding: 5rem 2rem 7rem 2rem;
  display: flex;
  justify-content: space-between;

  @include tablet-stats {
    padding: 2rem 2rem 3rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.hero-menu-app-button {
  @extend .back-btn;
  margin-right: 0;

  @include tablet-stats {
    align-self: flex-start;
  }
}

.hero-menu-title-wrapper {
  display: flex;
  padding-left: 6.2rem;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  gap: 2rem;

  @include tablet-stats {
    padding-left: 0;
  }
}

.hero-menu-typing-title {
  color: $c-accent;
}

.hero-menu-hero-title {
  color: $c-main-text;
}

.hero-menu-reset-button {
  @include font-main;
  width: 13rem;
  height: 4rem;
  background-color: $c-block-bg;
  border-radius: $small-border-radius;
  color: $c-main-text;
}

.hero-menu-points-wrapper {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 102rem;
  display: flex;
  justify-content: space-between;

  @include tablet-stats {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.best-score,
.best-accuracy,
.total-score,
.average-accuracy {
  @include font-subtitle;
  position: relative;
  display: flex;
  color: $c-menu-inactive-link;
  gap: 1rem;

  @include tablet-stats {
    @include font-subtitle-mobile;
  }
}

.best-accuracy::before,
.average-accuracy::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 0.2rem;
  height: 3.3rem;
  background-color: $c-accent;
  border-radius: $small-border-radius;

  @include desktop-small {
    content: none;
  }
}

.hero-menu-best-points-wrapper,
.hero-menu-overall-points-wrapper {
  display: flex;
  gap: 3.2rem;

  @include desktop-small {
    flex-direction: column;
    gap: 1rem;
  }

  @include tablet-stats {
    align-items: center;
  }
}

.hero-menu-overall-points-wrapper {
  @include desktop-small {
    align-items: flex-end;
  }

  @include tablet-stats {
    align-items: center;
  }
}

.hero-menu-lvls-wrapper {
  max-width: 102rem;
  margin: 8rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 1rem;

  @include tablet-stats {
    margin: 4rem auto;
    justify-content: center;
  }
}

.lvl-section-button {
  position: relative;
  width: 18rem;
  height: 18rem;
  border: 0.2rem solid $c-hero-borders;
  border-radius: $big-border-radius;
  transition: $transition-time;
  &:hover {
    border-color: $c-accent;
  }
}

.lvl-section-button.basic {
  background-image: url(./assets/games/typing-hero/background/basic-lvl-button.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.lvl-section-button.completed {
  background-image: url(./assets/games/typing-hero/background/completed-lvl-button.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.lvl-section-title {
  @include font-subtitle;
  font-weight: 700;
  color: $c-accent;
}

.lvl-button-content {
  @include font-main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 1rem 0rem 1rem;
  color: $c-menu-inactive-link;
}

.lvl-button-score-wrapper,
.lvl-button-accuracy-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-menu-sandbox-wrapper {
  max-width: 102rem;
  margin: 0 auto 10rem auto;
  display: flex;
  padding: 3rem 5rem;
  background-color: $c-block-bg;
  border-radius: $big-border-radius;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;

  @include tablet-stats {
    margin: 0 auto 5rem auto;
    justify-content: center;
  }

  @include tablet {
    padding: 3rem 2rem;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.hero-menu-sandbox-title {
  @extend .section-title;
}

.hero-menu-sandbox-button {
  @extend .big-btn;
}