.lvl-wrapper {
  background-color: #F5F5F5;
  padding: 5.5rem 0 10rem 0;
}

.field-menu-button-wrapper {
  max-width: 102rem;
  margin: 0 auto;
}

.field-menu-button {
  @extend .back-btn;
  display: block;
}

.field-points-wrapper {
  max-width: 60rem;
  margin: 6.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.current-points-wrapper,
.user-points-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.current-points-wrapper {
  align-items: flex-end;
}

.current-score,
.current-accuracy,
.user-data {
  @include font-subtitle;
  display: flex;
  gap: 1rem;
  color: $c-menu-inactive-link;
}

.user-data-points {
  color: #D984BC;
}

.current-score-points,
.current-accuracy-points {
  color: $c-accent;
}

.lvl-field {
  width: 60rem;
  height: 50rem;
  margin: 7rem auto 0 auto;
  border-radius: $big-border-radius;
  background-color: white;
  border-width: 0.2rem 0px 0.6rem 0px;
  border-style: solid;
  border-color: $c-accent;
  display: flex;
}

.lvl-field-column {
  overflow: hidden;
  position: relative;
  width: 12rem;
}

.lvl-field-column:not(:last-child) {
  border-right: 0.2rem solid #F4F4F4;
}

.column-key {
  @include font-title;
  position: absolute;
  top: 0;
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  background-color: $c-accent;
  border-radius: $small-border-radius;
  margin: -5.5rem auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &.select {
    background-color: #D984BC;
  }
}

.lvl-start-completed-modal {
  @include font-subtitle;
  position: fixed;
  top: 0;
  left: calc(50% - 17rem);
  width: 34rem;
  height: 9rem;
  color: $c-accent;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $bxs-result-shadow;
  border-radius: 0 0 $big-border-radius $big-border-radius;
}
