.hero-start-menu-overlay,
.sandbox-menu-overlay,
.hero-reset-overlay {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.hero-start-menu-modal {
  @include font-main;
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
  max-width: 55rem;
  width: 60%;
  height: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $c-hero-modal-bg;
  color: $c-main-text;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  border-radius: $small-border-radius;

  @include mobile {
    width: 90%;
  }
}

.hero-start-menu-title {
  @include font-title-mobile;
  color: $c-hero-modal-title-btn;
}

.hero-start-menu-image {
  width: 100%;
}

.sandbox-menu-modal {
  @extend .hero-start-menu-modal;
  overflow: auto;
}

.sandbox-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero-reset-modal {
  @include font-main;
  z-index: 10;
  position: relative;
  width: 40rem;
  height: 20rem;
  top: calc(50% - 10rem);
  left: calc(50% - 20rem);
  background: $c-hero-modal-bg;
  color: $c-main-text;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  border-radius: $small-border-radius;
}

.sandbox-modal-buttons,
.hero-reset-buttons {
  display: flex;
  gap: 2rem;
}

.start-menu-button,
.hero-reset-button,
.hero-reset-close-button,
.sandbox-close-modal-button,
.sandbox-start-button {
  @include font-main;
  border: 0.2rem solid $c-hero-borders;
  border-radius: 1rem;
  padding: 0.5rem 0;
  text-align: center;
  color: $c-hero-modal-title-btn;
  width: 12rem;
  &:hover {
    border-color: $c-hero-modal-title-btn;
  }
  &:disabled {
    color: $c-hero-disabled-modal;
    &:hover {
      border-color: $c-hero-borders;
    }
  }
}

.sandbox-input {
  @include default-input;
}