.games {
  max-width: 110rem;
  padding: 0 8rem;
  margin: 0 auto 4rem;

  @include desktop-small {
    padding: 0 5rem;
  }

  @include mobile {
    padding: 0 1.6rem;
    row-gap: 2rem;
  }
}

.games-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "gameOneBtn gameTwoBtn"
    "gameOneDesc gameTwoDesc";
  column-gap: 8rem;
  row-gap: 3rem;
  margin-top: 3rem;

  @include desktop-small {
    column-gap: 5rem;
  }

  @include tablet {
    column-gap: 3rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: "gameOneBtn"
      "gameOneDesc"
      "gameTwoBtn" 
      "ameTwoDesc";
    row-gap: 3rem;
  }
}

.game-one-btn {
  grid-area: gameOneBtn;
}

.game-two-btn {
  grid-area: gameTwoBtn;
}

.game-one-game-desc {
  grid-area: gameOneDesc;
}

.game-two-game-desc {
  grid-area: gameTwoDesc;
}

.game-one-bg {
  background: $bg-game-bg no-repeat right / contain;

  @include tablet {
    background-position: center center;
  }
}

.game-two-bg {
  background: $bg-game-bg no-repeat right / contain;

  @include tablet {
    background-position: center center;
  }
}

.game-one-desc,
.game-two-desc {
  padding: 3rem 4rem;
  background-color: $c-block-bg;
  border-radius: $big-border-radius;
}

.game-desc-text {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}
