.header {
  height: 15rem;
  background: $bg-header-gradient;
}

.header-wrapper {
  @include default-wrapper;
  justify-content: space-between;
  max-width: $desktop-width;
  padding: 1.5rem $desktop-margin 0;
  margin: 0 auto;

  @include desktop-small {
    padding: 1.5rem $tablet-margin 0;
  }

  @include mobile {
    padding: 1.5rem $mobile-margin 0;
  }
}

.app-btn {
  @include interaction-effects;
  @include small-btn-bg;
  width: 11.4rem;
  height: 4.1rem;
  background-image: $bg-app-logo;
  margin-right: $desktop-margin;

  @include desktop-small {
    margin-right: $tablet-margin;
  }

  @include tablet {
    margin-right: 0;
  }
}

.app-logo {
  @include accesibility-text;
}

.menu-wrapper {
  @include default-wrapper;
}

.menu {
  @include default-wrapper;
  gap: 3rem;

  @include tablet {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 7rem;
  }
}

.header-menu {
  @include tablet {
    display: none;
  }
}

.menu-btn {
  @include font-main;
  @include interaction-effects;
  color: $c-menu-inactive-link;

  &:hover {
    color: $c-main-text;
  }
}

.menu-btn-active {
  position: relative;
  color: $c-main-text;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    transform: translate(-50%);
    width: 2.4rem;
    height: 0.2rem;
    border-radius: $small-border-radius;
    background-color: $c-accent;
  }
}

.controls-wrapper {
  @include default-wrapper;
}

.theme-lang-wrapper {
  @include default-wrapper;
  gap: 2rem;

  @include tablet {
    gap: 1rem;
  }
}

.theme-btn {
  @include accesibility-text;
  background-image: $bg-theme-switcher;
}

.registration-btn {
  width: 10rem;
  margin-left: 6rem;

  @include desktop-small {
    margin-left: $tablet-margin;
  }

  @include tablet {
    margin: 0 auto;
    background-color: $c-block-bg;
  }
}

.header-user-btn {
  @include tablet {
    display: none;
  }
}

.burger-menu-btn {
  @include interaction-effects;
  @include small-btn-bg;
  display: none;
  width: 2.4rem;
  height: 1.8rem;
  background-image: $bg-icon-burger-menu;
  margin-left: 2rem;

  @include tablet {
    display: block;
  }
}

.burger-menu {
  @include default-modal;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20rem;
  padding: 0.6rem;
}