.lesson-keyboard {
  @include font-subtitle-mobile;
  display: flex;
  flex-direction: column;
  max-width: 63.5rem;
  gap: $keyboard-gap;
  border-radius: 0.5rem;
  user-select: none;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-bottom: 3rem;
}

.keyboard-row {
  display: flex;
  gap: $keyboard-gap;
}

.keyboard-key {
  width: $key-size;
  height: $key-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 0.1rem solid $c-key-border;
  color: $c-main-text;
  background-color: $c-block-bg;
  position: relative;
  z-index: -2;
    
  &.key-function {
    @include font-keyboard-function;
    display: flex;
    justify-content: end;
    text-align: start;
    padding-left: 0.4rem;
  } 
}

.key-size-space {
  width: calc($key-size * 6 + $keyboard-gap * 5);
}

.key-size-one-half {
  width: calc($key-size * 1.5 + $keyboard-gap);
}

.key-size-double {
  width: calc($key-size * 2 + $keyboard-gap);
}

.key-size-two-half {
  width: calc($key-size * 2.5 + $keyboard-gap * 2);
}

.key-two-symbols {
  @include font-main-small;
}

.current-char {
  background-color: $c-accent;
  border-color: $c-accent;
  color: $c-white;
}