.default-avatar {
  width: 100%;
  border-radius: 50%;
}

.profile-modal {
  @include default-modal;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80rem;
  padding: 3rem 4rem 2.5rem;
  overflow-y: auto;

  @include tablet-small {
    width: 100%;
  }

  @include mobile {
    padding: $mobile-margin;
  }
}

.profile-header {
  @include default-wrapper;
  justify-content: space-between;
  margin-bottom: 1rem;

  @include tablet-small {
    margin-bottom: 2rem;
  }
}

.profile-modal-content {
  position: relative;
}

.profile-btn {
  background-color: $c-block-bg;
}

.edit-btn {
  @include accessibility-text;
  background-image: $bg-profile-edit;

  &:hover {
    background-image: $bg-profile-edit-hover;
  }
}

.profile-header-plag {
  width: 4rem;
  height: 4rem;
}

.profile-data-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  column-gap: $desktop-margin;
  margin-bottom: 3rem;

  @include tablet-small {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 0;
  }
}

.profile-avatar-wrapper {
  @include avatar-wrapper;
  grid-row: 1/3;

  @include tablet-small {
    margin: 0 auto;
    grid-row: 1/2;
  }
}

.profile-input-label {
  @include default-wrapper;
  @include font-subtitle-mobile;
  position: relative;
  justify-content: flex-end;
  gap: 1rem;
  width: 49rem;
  color: $c-main-text;

  @include tablet-small {
    @include font-main;
    width: 39rem;
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
  }

  @include mobile-small {
    width: 100%;
  }
}

.profile-login-input-label {
  padding: 2rem 0 1.5rem;
}

.profile-password-input-label {
  padding: 1.5rem 0 2rem;
}

.profile-input {
  @include default-input;
  @include font-main;
  width: 39rem;

  @include mobile {
    max-width: 39rem;
    width: 100%;
  }
}

.profile-password-input {
  @include password-input;
}

.profile-password-visibility-btn {
  right: 1rem;

  @include tablet-small {
    bottom: 3rem;
  }
}

.logout-btn {
  display: block;
  margin: 0 auto;
}

.save-changes-btn {
  display: block;
  margin: 0 auto;
}

.profile-avatars-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 5.5rem;
  margin-bottom: 6rem;

  @include tablet-small {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 2rem;
    margin-bottom: 4rem;
  }

  @include mobile-small {
    grid-template-columns: repeat(2, 1fr);
  }
}

.avatar-btn {
  @include avatar-wrapper;

  @include tablet-small {
    margin: 0 auto;
  }

  @include mobile {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.simple-account-btn {
  @include font-main;
  color: $c-main-text;
}

.profile-error-block {
  position: absolute;
  left: 33rem;
  top: 20rem;
  width: 39rem;

  @include tablet-small {
    position: static;
    margin: 0 auto 3rem;
  }
}

.profile-subtitle {
  margin-bottom: 3rem;

  @include tablet-small {
    text-align: center;
  }
}

.profile-stats-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;

  @include mobile {
    flex-direction: column;
  }
}

.profile-stats-block {
  width: 100%;
  padding: 1rem 2rem 0;
  border: 0.2rem solid $c-accent;
  border-radius: $big-border-radius;
}

.profile-stats-title {
  @include font-subtitle-mobile;
  text-align: center;
  color: $c-main-text;
  margin-bottom: 2rem;
}

.profile-stats-subtitle {
  @include font-main;
  color: $c-accent;
  margin-bottom: 2rem;
}

.profile-stats-list {
  background-color: $c-block-bg;
  padding: 1rem;
  border-radius: $small-border-radius;
  margin-bottom: 2rem;
}

.profile-stats-item {
  @include font-main-small;
  display: flex;
  justify-content: space-between;
  color: $c-main-text;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile-stats-score-wrapper {
  display: flex;
  gap: 0.3rem;
}

.profile-stats-score-value {
  line-height: 1.92rem;
}

.profile-stats-score-mark {
  @include small-btn-bg;
  width: 1.4rem;
  height: 1.92rem;
  background-image: $bg-lessons-star;
  background-size: 1.4rem;
}

.profile-badges-title {
  @include default-wrapper;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.profile-badges-title .profile-subtitle {
  margin-bottom: 0;
}

.profile-badges-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  padding-top: 1rem;

  @include tablet-small {
    grid-template-columns: 1fr;
    padding-top: 0rem;
  }
}

.profile-badge-item {
  @include font-main;
  @include default-wrapper;
  gap: 1rem;

  @include tablet-small {
    width: 38rem;
    margin: 0 auto;
  }

  @include mobile-small {
    width: 100%;
  }
}

.all-badges-image {
  width: $desktop-margin;
}

.not-earned-badge {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: $transition-time;

  &:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}

.profile-badge-title {
  font-size: 1.6rem;
  font-weight: $fw-bold;
}

.profile-earned-badges {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 1rem;
    padding: 0 4rem;
  }

  @include mobile-badges {
    column-gap: 2rem;
    padding: 0 2.5rem;
  }

  @include mobile-small {
    padding: 0 0.5rem;
  }

  @include mobile-small-badges {
    padding: 0;
  }
}

.earned-badges-image {
  width: 12rem;

  @include tablet-small {
    width: 10rem;
  }

  @include mobile-small {
    width: 8rem;
  }
}