.profile-modal {
  @include default-modal;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80rem;
  padding: 3rem 4rem 2rem;
}

.profile-header {
  @include default-wrapper;
  justify-content: space-between;
}

.profile-modal-content {
  width: 100%;
  height: 100%;
}

.profile-btn {
  background-color: $c-block-bg;
}

.edit-btn {
  @include accessibility-text;
  @include small-btn-bg;
  background-image: $bg-profile-edit;

  &:hover {
    background-image: $bg-profile-edit-hover;
  }
}

.edit-profile-plag {
  width: 4rem;
  height: 4rem;
}