@mixin profile-avatar-wrapper {
  width: 15rem;
  height: 15rem;
}

.default-avatar {
  width: 100%;
  border-radius: 50%;
}

.profile-modal {
  @include default-modal;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80rem;
  padding: 3rem 4rem 2rem;
  overflow-y: auto;
}

.profile-header {
  @include default-wrapper;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-modal-content {
  width: 100%;
  height: 100%;
}

.profile-btn {
  background-color: $c-block-bg;
}

.edit-btn {
  @include accessibility-text;
  @include small-btn-bg;
  background-image: $bg-profile-edit;

  &:hover {
    background-image: $bg-profile-edit-hover;
  }
}

.edit-profile-plag {
  width: 4rem;
  height: 4rem;
}

.profile-data-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  column-gap: $desktop-margin;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.profile-avatar-wrapper {
  @include profile-avatar-wrapper;
  grid-row: 1/3;
}

.profile-input-label {
  @include default-wrapper;
  @include font-subtitle-mobile;
  position: relative;
  color: $c-main-text;

  @include mobile {
    @include font-main;
  }
}

.profile-input {
  @include default-input;
  @include font-main;
  width: 39rem;
  margin-left: auto;
}

.profile-password-visibility-btn {
  right: 1rem;
}

.logout-btn {
  display: block;
  margin: 0 auto;
}

.save-changes-btn {
  display: block;
  margin: 0 auto;
}

.profile-avatars-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 5.5rem;
  margin-bottom: 6rem;
}

.avatar-btn {
  @include profile-avatar-wrapper;
}