.field-tutorial-modal-overlay {
  @extend .field-modal-overlay;
}

.field-tutorial-modal-window {
  @extend .welcome-modal-window;
  width: 38rem;
  height: 30rem;
  top: calc(50% - 15rem);
  left: calc(50% - 19rem);

  @include mobile {
    width: 30rem;
    height: 23rem;
    top: calc(50% - 11.5rem);
    left: calc(50% - 15rem);
  }
}

.field-tutorial-buttons {
  @extend .welcome-modal-buttons;
}

.field-tutorial-modal-button,
.field-tutorial-button,
.hint-one-modal-button,
.hint-two-modal-button,
.hint-three-modal-button,
.hint-four-modal-button,
.hint-five-modal-button {
  @extend .start-modal-button;
}

.hint-one-modal-window,
.hint-two-modal-window,
.hint-three-modal-window,
.hint-four-modal-window,
.hint-five-modal-window {
  position: absolute;
  z-index: 20;
  @extend .welcome-modal-window;
  width: 35rem;
  height: 25rem;
  padding: 3rem;
}

.hint-one-modal-window {
  top: -3rem;
  left: -10rem;

  @include mobile {
    @include font-main-small;
    top: -1rem;
    left: -6.5rem;
    padding: 2rem;
    row-gap: 1rem;
    width: 28rem;
    height: 20rem;
  }
}

.hint-two-modal-window {
  top: 7.5rem;
  left: -22rem;

  @include mobile {
    @include font-main-small;
    top: 9rem;
    left: -9rem;
    padding: 2rem;
    row-gap: 1rem;
    width: 28rem;
    height: 25rem;
  }
}

.hint-three-modal-window {
  top: 10rem;
  left: -10rem;

  @include mobile {
    @include font-main-small;
    top: 18rem;
    left: -6.5rem;
    padding: 2rem;
    row-gap: 1rem;
    width: 28rem;
    height: 20rem;
  }
}

.hint-four-modal-window {
  top: 10rem;
  left: -32rem;

  @include mobile {
    @include font-main-small;
    top: -8rem;
    left: -13rem;
    padding: 2rem;
    row-gap: 1rem;
    width: 28rem;
    height: 23rem;
  }
}

.hint-five-modal-window {
  top: -3rem;
  left: -7.5rem;

  @include mobile {
    @include font-main-small;
    top: 0rem;
    left: -6.5rem;
    padding: 2rem;
    row-gap: 1rem;
    width: 28rem;
    height: 18rem;
  }
}
