.game-map {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: contain;
  padding: 20px;
  display: flex;
  column-gap: 20px;
}

.map-buttons-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 200px 20px;
}

.layout-button,
.game-info-button,
.reset-state-button {
  padding: 5px 10px;
  color: darkmagenta;
  border-color: darkmagenta;
  border-radius: 5px;
  background-color: inherit;
  transition: 0.5s;
  cursor: pointer;
}

.layout-button:hover,
.game-info-button:hover,
.reset-state-button:hover {
  transform: scale(1.1);
}

.beast-title {
  width: 200px;
  font-size: 20px;
  transition: 0.8s;
  padding: 10px;
  text-align: center;
}

.beast {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: blueviolet;
  transition: 0.8s;
}

.beast-wrapper {
  cursor: pointer;
}

.beast-wrapper:hover .beast-title,
.beast-wrapper:hover .beast {
  transform: scale(1.1);
  transition: 0.8s;
}
