.welcome-modal-overlay,
.start-modal-overlay,
.game-info-modal-overlay,
.reset-state-modal-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.15);
}

.field-modal-overlay {
  @extend .welcome-modal-overlay;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.welcome-modal-window,
.game-info-modal-window {
  @include font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  position: relative;
  top: calc(50% - 14.5rem);
  left: calc(50% - 25rem);
  width: 50rem;
  height: 29rem;
  padding: 2rem;
  background-color: $c-adventure-modal-bg;
  border-radius: $big-border-radius;
  text-align: center;
  color: $c-adventure-text-content;
  box-shadow: $c-adventure-modal-shadow;
}

.game-info-modal-window::-webkit-scrollbar,
.start-modal-window::-webkit-scrollbar {
  width: 10px;
}

.game-info-modal-window::-webkit-scrollbar-track,
.start-modal-window::-webkit-scrollbar-track {
  background-color: $c-adventure-modal-bg;
  border-radius: 5rem;
}

.game-info-modal-window::-webkit-scrollbar-thumb,
.start-modal-window::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
  background-color: $c-adventure-title-content;
}

.start-modal-window {
  @extend .welcome-modal-window;
  width: 50rem;
  height: 50rem;
  top: calc(50% - 25rem);
  left: calc(50% - 25rem);
}

.start-modal-window,
.game-info-modal-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.start-modal-img {
  width: 40rem;
}

.welcome-modal-text {
  @include font-title-mobile;
  color: $c-adventure-title-content;
}

.game-info-modal-window {
  width: 48rem;
  height: 50rem;
  top: calc(50% - 25rem);
  left: calc(50% - 24rem);
}

.reset-state-modal-window {
  @extend .welcome-modal-window;
  width: 30rem;
  height: 15rem;
  top: calc(50% - 7.5rem);
  left: calc(50% - 15rem);
  text-align: center;
}

.welcome-layout-button,
.welcome-modal-button,
.start-modal-button,
.game-info-modal-button,
.field-modal-button,
.reset-state-modal-button,
.adventure-reset-close-button {
  min-width: 12rem;
  padding: 1rem;
  height: 4rem;
  color: $c-adventure-title-content;
  border: 0.1rem solid $c-adventure-title-content;
  border-radius: $small-border-radius;
  font-size: 1.6rem;
  font-weight: $fw-bold;
  &:hover {
    background: $c-adventure-title-content;
    color: $c-adventure-text-content;
  }

  @include mobile {
    @include font-main-small;
    width: 10rem;
    height: 4rem;
  }
}

.adventure-reset-buttons-wrapper {
  display: flex;
  gap: 1rem;
}

.welcome-modal-buttons {
  display: flex;
  gap: 5.5rem;
}

.field-modal-window {
  @extend .welcome-modal-window;
  position: relative;
  width: 30rem;
  height: 15rem;
  top: calc(50% - 7.5rem);
  left: calc(50% - 15rem);
  padding: 2rem;
  border-radius: $big-border-radius;
}

.field-modal-content {
  @include font-title-mobile;
  color: $c-adventure-text-content;
}

.field-modal-content-info {
  @include font-subtitle;
  color: $c-adventure-text-content;
}

.game-info-title {
  @include font-title-mobile;
  color: $c-adventure-text-content;
}

.info-title {
  @include font-subtitle-mobile;
  color: $c-adventure-text-content;
}

.info-lvl {
  color: $c-adventure-title-content;
}

.info-user-spell {
  color: $c-adventure-title-content;
}

.lvl-spells-title {
  color: $c-adventure-text-content;
}

.info-spell {
  color: $c-adventure-info-spells;
}

.info-spell.available {
  color: $c-adventure-title-content;
}
