@mixin interaction-effects {
  cursor: pointer;
  transition: $transition-time;

  &:disabled {
    cursor: auto;
  }
}

@mixin accessibility-text {
  font-size: 0;
}

@mixin desktop-small {
  @media (max-width: $desktop-small-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $tablet-small-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin big-btn {
  width: 24rem;
  height: 5rem;
  border-radius: $small-border-radius;

  font-size: 2rem;
  font-weight: $fw-bold;

  color: white;
  background-color: $c-accent;

  cursor: pointer;

  &:hover {
    background-color: $c-big-btn-hover;
  }

  &:active {
    background-color: $c-big-btn-active;
  }

  &:disabled {
    background-color: $c-big-btn-disabled;
  }
}

@mixin small-btn-bg {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin font-main {
  font-size: 1.6rem;
  font-weight: $fw-regular;
}

@mixin font-main-small {
  font-size: 1.4rem;
}

@mixin font-title-promo {
  font-size: 4rem;
  font-weight: $fw-extrabold;
}

@mixin font-title-promo-mobile {
  font-size: 3.2rem;
  font-weight: $fw-extrabold;
}

@mixin font-title {
  font-size: 3.2rem;
  font-weight: $fw-bold;
}

@mixin font-subtitle {
  font-size: 2.4rem;
  font-weight: $fw-regular;
}

@mixin font-title-mobile {
  font-size: 2.4rem;
  font-weight: $fw-bold;
}

@mixin font-subtitle-mobile {
  font-size: 2rem;
}

@mixin font-keyboard-function {
  font-size: 1.2rem;
}

@mixin default-wrapper {
  display: flex;
  align-items: center;
}

@mixin default-modal {
  position: absolute;
  background-color: $c-body-bg;
  box-shadow: $bxs-modal-shadow;
}

@mixin default-input {
  @include font-main-small;
  display: block;
  height: 4rem;
  color: $c-main-text;
  padding: 1rem;
  border: 0.1rem solid $c-accent;
  border-radius: $small-border-radius;

  &:disabled {
    border-color: transparent;
    background-color: $c-block-bg;
  }
}

@mixin default-avatar {
  width: 100%;
  border-radius: 50%;
}