html {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: $fw-regular;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  @include interaction-effects;
}

button,
input {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}