body.light {
  --c-body-bg: #FFFFFF;
  --c-main-text: #212529;
  --c-small-text: #212529;
  --c-main-title: #212529;
  --c-subtitle: #212529;
  --c-accent: #212529;
  --c-accent: #848ED9;
  --c-big-btn-hover: #98A2E9;
  --c-big-btn-active: #6D78CC;
  --c-big-btn-disabled: #8693B3;
  --c-filter-all: #F3F2FC;
  --c-filter-basic: #FFEBF5;
  --c-filter-intermediate: #D5E9EC;
  --c-filter-advanced: #E3F6DE;
  --c-small-btn-bg: #FFFFFF;
  --c-block-bg: #FAFAFA;
  --c-menu-inactive-link: #75819C;
  --c-mistake: #FFDADA;
  --c-correction: #FFEBC6;
  --c-correct: #E8FFDA;
  --c-lesson-btn-border: #F6F6F6;
  --c-key-border: #E1E1E1;
  --c-modal-overlay: rgba(50, 50, 50, .2);
  --c-lesson-bg-default: #FFFFFF;
  --c-lesson-bg-one: #EEF5FF;
  --c-lesson-bg-two: #DBDDFF;
  --c-skin-two-border: #616EB5;
  --c-skin-two-bg-all: #C2CAF5;
  --c-skin-two-bg-func: #D3AFE0;
  --c-skin-two-bg-cur: #69C9FF;

  --bxs-modal-shadow: 0px 0px 10px rgba(33, 37, 41, 0.15);
  --bxs-result-shadow: 0px 0px 100px rgba(33, 37, 41, 0.15);

  --bg-header-gradient: linear-gradient(180deg, #F0EFFC 0%, rgba(240, 239, 252, 0) 100%);
  --bg-footer-gradient: linear-gradient(0deg, #F0EFFC 0%, rgba(240, 239, 252, 0) 56%);

  --bg-theme-switcher: url(./assets/images/background/icons/icon-theme-light.svg);
  --bg-app-logo: url(./assets/images/background/logos/app-logo-light.svg);
  --bg-rss-logo: url(./assets/images/background/logos/rss-logo-light.svg);
  --bg-home-promo: url(./assets/images/background/home/home-promo-light.svg);
  --bg-home-lessons: url(./assets/images/background/home/home-lessons-light.svg);
  --bg-home-games: url(./assets/images/background/home/home-games-light.svg);
  --bg-home-progress: url(./assets/images/background/home/home-progress-light.svg);
  --bg-home-bg-wave: url(./assets/images/background/home/home-wave.svg);
  --bg-home-bg-1: url(./assets/images/background/home/home-bg-1-light.svg);
  --bg-home-bg-2: url(./assets/images/background/home/home-bg-2-light.svg);
  --bg-home-bg-3: url(./assets/images/background/home/home-bg-3-light.svg);
  --bg-home-bg-blur-1: url(./assets/images/background/home/home-bg-blur-1-light.svg);
  --bg-home-bg-blur-2: url(./assets/images/background/home/home-bg-blur-2-light.svg);
  --bg-home-bg-blur-3: url(./assets/images/background/home/home-bg-blur-3-light.svg);
  --bg-lessons-easy: url(./assets/images/background/lessons/lessons-easy-light.svg);
  --bg-lessons-medium: url(./assets/images/background/lessons/lessons-medium-light.svg);
  --bg-lessons-hard: url(./assets/images/background/lessons/lessons-hard-light.svg);
  --bg-lessons-fact: url(./assets/images/background/lessons/lessons-facts-light.png);
  --bg-lessons-ru: url(./assets/images/background/lessons/lessons-ru.svg);
  --bg-lessons-en: url(./assets/images/background/lessons/lessons-eng.svg);
  --bg-close: url(./assets/images/background/icons/icon-close-light.svg);
  --bg-close-hover: url(./assets/images/background/icons/icon-close-hover-light.svg);
  --bg-profile-edit: url(./assets/images/background/icons/icon-edit-light.svg);
  --bg-profile-edit-hover: url(./assets/images/background/icons/icon-profile-edit-hover-light.svg);
  --bg-modal-password-open: url(./assets/images/background/icons/icon-password-open-light.svg);
  --bg-modal-password-closed: url(./assets/images/background/icons/icon-password-closed-light.svg);
  --bg-lessons-star: url(./assets/images/background/icons/icon-star-light.svg);
  --bg-lessons-star-empty: url(./assets/images/background/icons/icon-star-empty-light.svg);
  --bg-arrow-left: url(./assets/images/background/icons/icon-arrow-left-light.svg);
  --bg-arrow-right: url(./assets/images/background/icons/icon-arrow-right-light.svg);
  --bg-icon-burger-menu: url(./assets/images/background/icons/icon-burger-menu-light.svg);
  --bg-icon-error-hint: url(./assets/images/background/icons/icon-error-hint.svg);
  --bg-icon-restart-hover: url(./assets/images/background/icons/icon-restart-hover-light.svg);
  --bg-test-ribbon: url(./assets/images/background/testing/bg-test-ribbon-light.svg);
  --bg-lesson-restart: url(./assets/images/background/icons/icon-lesson-restart-light.svg);
  --bg-lesson-restart-hover: url(./assets/images/background/icons/icon-lesson-restart-hover-light.svg);
  --bg-lesson-font: url(./assets/images/background/icons/icon-lesson-font-light.svg);
  --bg-lesson-font-hover: url(./assets/images/background/icons/icon-lesson-font-hover-light.svg);
  --bg-lesson-bg: url(./assets/images/background/icons/icon-lesson-bg-light.svg);
  --bg-lesson-bg-hover: url(./assets/images/background/icons/icon-lesson-bg-hover-light.svg);
  --bg-lesson-sound: url(./assets/images/background/icons/icon-lesson-sound-light.svg);
  --bg-lesson-sound-hover: url(./assets/images/background/icons/icon-lesson-sound-hover-light.svg);
  --bg-lesson-skin: url(./assets/images/background/icons/icon-lesson-kb-light.svg);
  --bg-lesson-skin-hover: url(./assets/images/background/icons/icon-lesson-kb-hover-light.svg);
}

body.dark {
  --c-body-bg: #1E273A;
  --c-main-text: #DBDBDB;
  --c-small-text: #8693B3;
  --c-main-title: #4794BA;
  --c-subtitle: #8693B3;
  --c-accent: #4794BA;
  --c-accent: #4794BA;
  --c-big-btn-hover: #7DC2E4;
  --c-big-btn-active: #417B97;
  --c-big-btn-disabled: #8693B3;
  --c-filter-all: #426A81;
  --c-filter-basic: #995C7A;
  --c-filter-intermediate: #4C4574;
  --c-filter-advanced: #4B716C;
  --c-small-btn-bg: #212C42;
  --c-block-bg: #212C42;
  --c-menu-inactive-link: #75819C;
  --c-mistake: #694444;
  --c-correction: #716756;
  --c-correct: #3E6253;
  --c-lesson-btn-border: #3C4A64;
  --c-key-border: #3C4A64;
  --c-modal-overlay: rgba(0, 0, 0, .5);
  --c-lesson-bg-default: #1E273A;
  --c-lesson-bg-one: #044565 ;
  --c-lesson-bg-two: #3A4765;
  --c-skin-two-border: #4169A5 ;
  --c-skin-two-bg-all: #58698B;
  --c-skin-two-bg-func: #8E7A98;
  --c-skin-two-bg-cur: #4F98C1;

  --bxs-modal-shadow: 0px 0px 10px rgba(33, 37, 41, 0.15);
  --bxs-result-shadow: 0px 0px 20px rgba(30, 69, 107, 0.5);

  --bg-header-gradient: linear-gradient(180deg, #111A2C 0%, #1E273A 61.33%);
  --bg-footer-gradient: linear-gradient(0deg, #131B2C 0%, #1E273A 69%);

  --bg-theme-switcher: url(./assets/images/background/icons/icon-theme-dark.svg);
  --bg-app-logo: url(./assets/images/background/logos/app-logo-dark.svg);
  --bg-rss-logo: url(./assets/images/background/logos/rss-logo-dark.svg);
  --bg-home-promo: url(./assets/images/background/home/home-promo-dark.svg);
  --bg-home-lessons: url(./assets/images/background/home/home-lessons-dark.svg);
  --bg-home-games: url(./assets/images/background/home/home-games-dark.svg);
  --bg-home-progress: url(./assets/images/background/home/home-progress-dark.svg);
  --bg-home-bg-wave: url(./assets/images/background/home/home-wave.svg);
  --bg-home-bg-1: url(./assets/images/background/home/home-bg-1-dark.svg);
  --bg-home-bg-2: url(./assets/images/background/home/home-bg-2-dark.svg);
  --bg-home-bg-3: url(./assets/images/background/home/home-bg-3-dark.svg);
  --bg-home-bg-blur-1: url(./assets/images/background/home/home-bg-blur-dark.svg);
  --bg-home-bg-blur-2: url(./assets/images/background/home/home-bg-blur-dark.svg);
  --bg-home-bg-blur-3: url(./assets/images/background/home/home-bg-blur-3-dark.svg);
  --bg-lessons-easy: url(./assets/images/background/lessons/lessons-easy-dark.svg);
  --bg-lessons-medium: url(./assets/images/background/lessons/lessons-medium-dark.svg);
  --bg-lessons-hard: url(./assets/images/background/lessons/lessons-hard-dark.svg);
  --bg-lessons-fact: url(./assets/images/background/lessons/lessons-facts-dark.png);
  --bg-lessons-ru: url(./assets/images/background/lessons/lessons-ru.svg);
  --bg-lessons-en: url(./assets/images/background/lessons/lessons-eng.svg);
  --bg-close: url(./assets/images/background/icons/icon-close-dark.svg);
  --bg-close-hover: url(./assets/images/background/icons/icon-close-hover-dark.svg);
  --bg-profile-edit: url(./assets/images/background/icons/icon-edit-dark.svg);
  --bg-profile-edit-hover: url(./assets/images/background/icons/icon-profile-edit-hover-dark.svg);
  --bg-modal-password-open: url(./assets/images/background/icons/icon-password-open-dark.svg);
  --bg-modal-password-closed: url(./assets/images/background/icons/icon-password-closed-dark.svg);
  --bg-lessons-star: url(./assets/images/background/icons/icon-star-dark.svg);
  --bg-lessons-star-empty: url(./assets/images/background/icons/icon-star-empty-dark.svg);
  --bg-arrow-left: url(./assets/images/background/icons/icon-arrow-left-dark.svg);
  --bg-arrow-right: url(./assets/images/background/icons/icon-arrow-right-dark.svg);
  --bg-icon-burger-menu: url(./assets/images/background/icons/icon-burger-menu-dark.svg);
  --bg-icon-error-hint: url(./assets/images/background/icons/icon-error-hint.svg);
  --bg-icon-restart-hover: url(./assets/images/background/icons/icon-restart-hover-dark.svg);
  --bg-test-ribbon: url(./assets/images/background/testing/bg-test-ribbon-dark.svg);
  --bg-lesson-restart: url(./assets/images/background/icons/icon-lesson-restart-dark.svg);
  --bg-lesson-restart-hover: url(./assets/images/background/icons/icon-lesson-restart-hover-dark.svg);
  --bg-lesson-font: url(./assets/images/background/icons/icon-lesson-font-dark.svg);
  --bg-lesson-font-hover: url(./assets/images/background/icons/icon-lesson-font-hover-dark.svg);
  --bg-lesson-bg: url(./assets/images/background/icons/icon-lesson-bg-dark.svg);
  --bg-lesson-bg-hover: url(./assets/images/background/icons/icon-lesson-bg-hover-dark.svg);
  --bg-lesson-sound: url(./assets/images/background/icons/icon-lesson-sound-dark.svg);
  --bg-lesson-sound-hover: url(./assets/images/background/icons/icon-lesson-sound-hover-dark.svg);
  --bg-lesson-skin: url(./assets/images/background/icons/icon-lesson-kb-dark.svg);
  --bg-lesson-skin-hover: url(./assets/images/background/icons/icon-lesson-kb-hover-dark.svg);
}

$c-body-bg: var(--c-body-bg);
$c-main-text: var(--c-main-text);
$c-small-text: var(--c-main-text);
$c-home-title: var(--c-accent);
$c-main-title: var(--c-main-title);
$c-subtitle: var(--c-subtitle);
$c-accent: var(--c-accent);
$c-big-btn-hover: var(--c-big-btn-hover);
$c-big-btn-active: var(--c-big-btn-active);
$c-big-btn-disabled: var(--c-big-btn-disabled);
$c-filter-all: var(--c-filter-all);
$c-filter-basic: var(--c-filter-basic);
$c-filter-intermediate: var(--c-filter-intermediate);
$c-filter-advanced: var(--c-filter-advanced);
$c-small-btn-bg: var(--c-small-btn-bg);
$c-block-bg: var(--c-block-bg);
$c-menu-inactive-link: var(--c-menu-inactive-link);
$c-bg-modal-overlay: var(--c-modal-overlay);
$c-mistake: var(--c-mistake);
$c-correction: var(--c-correction);
$c-correct: var(--c-correct);
$c-lesson-btn-border: var(--c-lesson-btn-border);
$c-key-border: var(--c-key-border);
$c-error-text: #DA5C54;
$c-confirmation-yes-text: #F3F3F4;
$c-lesson-bg-default: var(--c-lesson-bg-default);
$c-lesson-bg-one: var(--c-lesson-bg-one);
$c-lesson-bg-two: var(--c-lesson-bg-two);
$c-skin-two-border: var(--c-skin-two-border);
$c-skin-two-bg-all: var(--c-skin-two-bg-all);
$c-skin-two-bg-func: var(--c-skin-two-bg-func);
$c-skin-two-bg-cur: var(--c-skin-two-bg-cur);

$bxs-modal-shadow: var(--bxs-modal-shadow);
$bxs-result-shadow: var(--bxs-result-shadow);

$bg-header-gradient: var(--bg-header-gradient);
$bg-footer-gradient: var(--bg-footer-gradient);
$bg-dev-avatar: #E4E4E4;

$bg-icon-github: url(./assets/images/background/icons/icon-github.svg);
$bg-home-wave: url(./assets/images/background/home/home-wave.svg);
$bg-game-bg: url(./assets/images/games/games-game-1.png);
$bg-icon-back: url(./assets/images/background/icons/icon-back.svg);
$bg-icon-restart: url(./assets/images/background/icons/icon-restart.svg);

$bg-theme-switcher: var(--bg-theme-switcher);
$bg-app-logo: var(--bg-app-logo);
$bg-rss-logo: var(--bg-rss-logo);
$bg-home-promo: var(--bg-home-promo);
$bg-home-lessons: var(--bg-home-lessons);
$bg-home-games: var(--bg-home-games);
$bg-home-progress: var(--bg-home-progress);
$bg-home-bg-wave: var(--bg-home-bg-wave);
$bg-home-bg-1: var(--bg-home-bg-1);
$bg-home-bg-2: var(--bg-home-bg-2);
$bg-home-bg-3: var(--bg-home-bg-3);
$bg-home-bg-blur-1: var(--bg-home-bg-blur-1);
$bg-home-bg-blur-2: var(--bg-home-bg-blur-2);
$bg-home-bg-blur-3: var(--bg-home-bg-blur-3);
$bg-lessons-easy: var(--bg-lessons-easy);
$bg-lessons-medium: var(--bg-lessons-medium);
$bg-lessons-hard: var(--bg-lessons-hard);
$bg-lessons-fact: var(--bg-lessons-fact);
$bg-lessons-ru: var(--bg-lessons-ru);
$bg-lessons-en: var(--bg-lessons-en);
$bg-close: var(--bg-close);
$bg-close-hover: var(--bg-close-hover);
$bg-profile-edit: var(--bg-profile-edit);
$bg-profile-edit-hover: var(--bg-profile-edit-hover);
$bg-modal-password-open: var(--bg-modal-password-open);
$bg-modal-password-closed: var(--bg-modal-password-closed);
$bg-lessons-star: var(--bg-lessons-star);
$bg-lessons-star-empty: var(--bg-lessons-star-empty);
$bg-arrow-left: var(--bg-arrow-left);
$bg-arrow-right: var(--bg-arrow-right);
$bg-icon-burger-menu: var(--bg-icon-burger-menu);
$bg-icon-error-hint: var(--bg-icon-error-hint);
$bg-icon-restart-hover: var(--bg-icon-restart-hover);
$bg-test-ribbon: var(--bg-test-ribbon);
$bg-lesson-restart: var(--bg-lesson-restart);
$bg-lesson-restart-hover: var(--bg-lesson-restart-hover);
$bg-lesson-font: var(--bg-lesson-font);
$bg-lesson-font-hover: var(--bg-lesson-font-hover);
$bg-lesson-bg: var(--bg-lesson-bg);
$bg-lesson-bg-hover: var(--bg-lesson-bg-hover);
$bg-lesson-sound: var(--bg-lesson-sound);
$bg-lesson-sound-hover: var(--bg-lesson-sound-hover);
$bg-lesson-skin: var(--bg-lesson-skin);
$bg-lesson-skin-hover: var(--bg-lesson-skin-hover);